services:
  keycloak-db:
    image: postgres:15
    container_name: keycloak-postgres
    volumes:
      - keycloak_data:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    networks:
      - db-net
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure

  keycloak:
    image: quay.io/keycloak/keycloak:24.0.0
    container_name: keycloak-server
    command: start-dev
    environment:
      KC_DB: postgres
      KC_DB_URL: jdbc:postgresql://keycloak-db:5432/${POSTGRES_DB}
      KC_DB_USERNAME: ${POSTGRES_USER}
      KC_DB_PASSWORD: ${POSTGRES_PASSWORD}
      KEYCLOAK_ADMIN: ${KEYCLOAK_ADMIN}
      KEYCLOAK_ADMIN_PASSWORD: ${KEYCLOAK_ADMIN_PASSWORD}
      KC_HTTP_PORT: ${KEYCLOAK_PORT}
      KC_HOSTNAME_URL: http://localhost:${KEYCLOAK_PORT}
    ports:
      - "${KEYCLOAK_PORT}:${KEYCLOAK_PORT}"
    depends_on:
      - keycloak-db
    networks:
      - db-net
      - app-net
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure

  rabbitmq:
    image: rabbitmq:3.13-management
    container_name: rabbitmq
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_DEFAULT_USER}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_DEFAULT_PASS}
    ports:
      - "${RABBITMQ_PORT}:${RABBITMQ_PORT}"
      - "${RABBITMQ_MGM_PORT}:${RABBITMQ_MGM_PORT}"
    networks:
      - app-net
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure

  notification-service:
    build:
      context: ./notification-service
    container_name: notification-service
    ports:
      - "${NOTIFICATION_PORT}:${NOTIFICATION_PORT}"
    environment:
      SPRING_RABBITMQ_HOST: rabbitmq
      SPRING_RABBITMQ_PORT: ${RABBITMQ_PORT}
      SPRING_RABBITMQ_USERNAME: ${RABBITMQ_DEFAULT_USER}
      SPRING_RABBITMQ_PASSWORD: ${RABBITMQ_DEFAULT_PASS}
    depends_on:
      - rabbitmq
    networks:
      - app-net
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure

  mongo:
    image: mongo:latest
    ports:
      - "${MONGO_PORT}:${MONGO_PORT}"
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_USER}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_PASSWORD}
    networks:
      - db-net
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure

  backend:
    build:
      context: ./backend
      target: build
    container_name: backend
    ports:
      - "${BACKEND_PORT}:${BACKEND_PORT}"
      - "${BACKEND_DEBUG_PORT}:${BACKEND_DEBUG_PORT}"
    environment:
      SPRING_DATA_MONGODB_URI: mongodb://${MONGO_USER}:${MONGO_PASSWORD}@mongo:${MONGO_PORT}/${MONGO_DB}?authSource=admin
      SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_JWK_SET_URI: http://keycloak:${KEYCLOAK_PORT}/realms/${KEYCLOAK_REALM}/protocol/openid-connect/certs
      JOB_SERVICE_URL: ${JOB_SERVICE_URL}
      SPRING_RABBITMQ_HOST: rabbitmq
      SPRING_RABBITMQ_PORT: ${RABBITMQ_PORT}
      SPRING_RABBITMQ_USERNAME: ${RABBITMQ_DEFAULT_USER}
      SPRING_RABBITMQ_PASSWORD: ${RABBITMQ_DEFAULT_PASS}
    volumes:
      - ./backend:/app
      - /app/target
    command: ./mvnw spring-boot:run -Dspring-boot.run.jvmArguments="-agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=*:${BACKEND_DEBUG_PORT}"
    depends_on:
      - mongo
      - keycloak
      - job-service
      - rabbitmq
    networks:
      - web-net
      - app-net
      - db-net
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure

  redis:
    image: redis:alpine
    container_name: redis
    ports:
      - "${REDIS_PORT}:${REDIS_PORT}"
    networks:
      - db-net
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure

  job-service:
    build:
      context: ./job-service
    environment:
      SPRING_REDIS_HOST: redis
      SPRING_REDIS_PORT: ${REDIS_PORT}
    depends_on:
      - redis
    networks:
      - web-net
      - app-net
      - db-net
    deploy:
      replicas: 2
      restart_policy:
        condition: on-failure

  frontend:
    build:
      context: ./frontend/frontend
    container_name: frontend
    ports:
      - "3000:80"
    depends_on:
      - backend
    networks:
      - web-net
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure

volumes:
  keycloak_data:

networks:
  web-net:
    driver: bridge
  app-net:
    driver: bridge
  db-net:
    driver: bridge
